[build-system]
requires=['setuptools', 'setuptools-scm']
build-backend="setuptools.build_meta"

[tools.setuptools.packages.find]
where = ["src"]
include = ["psat_api"]
namespaces = true

[project]
name = "psat-api"
version = "3.0.0"
readme = "README.md"
description = "Proofpoint Security Awareness Training Python API Package"
license = { text = "MIT" }
dependencies = [
    'requests'
]